<div class="container-sm">
  <section class="mt-4 mb-5 px-4 py-3 bg-dark-subtle rounded-3">
    <div class="container-fluid py-5">
      <h4 class="display-5">Witaj w Ikea Promocje!</h4>
      <p class="col-md-8 lead">
        Ikea Promocje śledzi aktualne obniżki cen przedmiotów w sklepie Ikea,
        zarówno w sklepie internetowym, jak i w tradycyjnych placówkach.
      </p>
      <hr class="my-4" />
      <p>
        Chcesz być informowany, kiedy wybrane przez Ciebie produkty trafią na
        promocję?
        <a href="/rejestracja">Zarejestruj się</a>, dodaj produkty do swojej
        listy życzeń, a otrzymasz e-mail, gdy tylko będą dostępne w promocji!
      </p>
    </div>
  </section>

  <h4 class="display-6 mb-4">Największe przeceny</h4>

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <article>
        <a class="text-decoration-none" href="#/123">
          <img class="img-fluid img-thumbnail rounded" src="https://www.ikea.com/pl/pl/images/products/vedbo-fotel-gunnared-niebieski__0634896_pe696809_s4.jpg?se=2023-10-07&sp=r&spr=https&sv=2022-11-02&ss=fbtq&srt=sco&sig=D08Jexmuq6adHRCPLPHZrNvwvdzGDiVphu8LzVGhVoU%3D" alt="">
          <div>
            <h6 class="fs-5 text-uppercase">VEBDO</h6>
            <p class="text-body-secondary">Fotel, Gunnared niebieski</p>
          </div>
        </a>
        <div>
          <span class="text-body-secondary"><s>299.00 zł</s></span>
          <strong>39.00</strong>
        </div>
      </article>
    </div>
  </div>
</div>
